table{
border-collapse: collapse;
  border-spacing: 5px;
  width: 100%;
  border: 1px solid #ddd;    
}
td{
  text-align: left;
  padding: 8px;
 font-size: 20px;
}
.data{
    text-align: left;
    padding: 8px;
    font-size: 25px;
}

tr:nth-child(even){background-color: #f2f2f2}
